body {
  width: 100%;
  max-width: 1000px;
  text-align: center;
  background-color: rgb(196, 201, 135);
  margin: 0 auto;
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  #container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Estilos para pantallas medianas */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  body {
    font-size: 16px;
  }

  #container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Estilos para pantallas grandes */
@media only screen and (min-width: 901px) {
  body {
    font-size: 18px;
  }

  #container {
    grid-template-columns: repeat(4, 1fr);
  }
}

#open-popup {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="date"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#container {
  width: 100%;
  display: grid;
  grid-template-columns: 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083% 2.083%;
  justify-content: center;
  align-items: center;
}

hr {
  border-color: black;
}

.box {
  width: 8px;
  height: 8px;
  margin: 2px 2px;
  border: 1px solid black;
}

.green {
  background-color: rgb(93, 180, 93);
}
